<h1>All Projects</h1>
<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No projects available.</p>
<% end %>


